<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430617886831-dihi8c4him76mq2pqum1df77ld90o07t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430617886831-dihi8c4him76mq2pqum1df77ld90o07t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWA1A-wKINaXs3YkXubPTYART0AHdAhpI</string>
	<key>GCM_SENDER_ID</key>
	<string>430617886831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.37hourcourse.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project-jon</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project-jon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430617886831:ios:39cf5e9c0cfd08481e4d9a</string>
</dict>
</plist>